.home {
  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    background-color: rgb(216, 216, 216);
    border-radius: 25px;
    padding: 30px;
    &-item {
      position: relative;
      width: 340px;
      height: 340px;
      margin: auto;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }
  }
}
